.product-grid {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

  width: 80%;
  margin-left: auto;
}

.product-container img {
  width: 100%;
  object-fit: contain;
}

.product-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-container-CTA {
  display: flex;
  align-items: center;
}
.product-container-CTA p {
  padding-left: 0.3rem;
}
.sizes {
  display: flex;
  align-items: center;
}
.red {
  color: red;
}
.productsHeading {
  margin-left: 16.5rem;
  padding-bottom: 0.5rem;
}
.filter-sort {
  display: flex;
  /* border: 1px solid red; */
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 0.5rem;
  cursor: pointer;
  margin-left: 15.3rem;
}
.filter-sort > h4 {
  color: rgb(138, 133, 133);
}

.underline {
  border-bottom: 2px solid blue;
}
