.filter-bar {
  border: 1px solid rgb(196, 187, 187);
  position: fixed;
  width: 18%;
  padding-left: 0.5rem;
  top: 13%;
  left: 1%;
  padding: 0.5rem;
}
.filter-bar .filterheading {
  text-align: center;
  text-decoration: underline;
}
.heading {
  padding-top: 0.7rem;
  text-decoration: underline;
}
.prodTags {
  padding: 0.2rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prodTags > input {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
.filter-bar button {
  /* border: 1px solid red; */
  display: block;
  margin: 0.6rem auto !important;
  padding: 0.3rem 1.3rem;
  cursor: pointer;
  color: white;
  background-color: black;
  font-weight: bolder;
  border: none;
  outline: none !important;
  margin: none !important;
}
